<div style="text-align: center; background: url(https://i.ibb.co/F68cMtc/header-bg-default-lg.jpg); color:white; margin-left:auto; margin-right:auto; height:705.5px;">
    <div style="position: relative; top:40%">
        <h1>Guest Security Register - Sign-In Sheet</h1>
        <a href="/sign-in"><button class="indexBtn">Sign-In</button></a>
        <a href="/sign-out"><button class="indexBtn">Sign-Out</button></a>
    </div>
</div>   