<!DOCTYPE html>
<html>
  <head>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link href = "https://code.jquery.com/ui/1.10.4/themes/ui-lightness/jquery-ui.css"
         rel = "stylesheet">
    <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
  <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
  <meta http-equiv ="refresh" content="3600" />
  </head>
  <body>
    <div style="padding-left: 25px;">
      <a href="/"><img id="img" src="/images/teksynap.png" /></a>
    </div>
    {{{body}}}
  </body>
</html>
